<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204440997234-o700jm0slfhoa3kso77o5mcotkfqkktg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204440997234-o700jm0slfhoa3kso77o5mcotkfqkktg</string>
	<key>API_KEY</key>
	<string>AIzaSyCiZoj9TaA9lEH300wCkwzotSS8Lt-zRHA</string>
	<key>GCM_SENDER_ID</key>
	<string>204440997234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eth.frontend</string>
	<key>PROJECT_ID</key>
	<string>scaling-ethereum</string>
	<key>STORAGE_BUCKET</key>
	<string>scaling-ethereum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204440997234:ios:39d48cd8be9f2447f821eb</string>
</dict>
</plist>